<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Your Reading List</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <h1>About Your Reading List</h1>
    <hr />
    <p>See how long it will take you to finish your logged list</p>
    {% endblock %}
    <footer>All Rights Reserved, &copy; 2019 Reading List</footer>
  </body>
</html>
